<div class="d-flex justify-content-center  mt-5" *ngIf="(isLoading | async )">


<div class="spinner-grow text-primary text-center" role="status">

  </div>
  <div class="spinner-grow text-secondary" role="status">

  </div>
  <div class="spinner-grow text-success" role="status">

  </div>
  <div class="spinner-grow text-danger" role="status">

  </div>
  <div class="spinner-grow text-warning" role="status">

  </div>
  <div class="spinner-grow text-info" role="status">

  </div>
  <div class="spinner-grow text-light" role="status">

  </div>
  <div class="spinner-grow text-dark" role="status">
  </div><br/>

  <h1 class="sr-only mt-5"> loading .......</h1>
</div>

