<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="protected" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >ECommerce-App </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link"  routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLinkActive="active" routerLink="/kk" [routerLinkActiveOptions]="{exact:true}">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="login/register"  [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" >Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">login</a>
          </li>
          <li class="nav-item">
          
            <a class="nav-link"  routerLink="cart" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="fas fa-shopping-cart"></i> Cart: <span class="badge bg-danger">{{counter }}</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="productsDynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Products-Dynamic</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
