<form class="row container mt-5 py-3 border border-1" #loginForm="ngForm" (ngSubmit)="submitForm(loginForm)">
  <div class="col-12">
    <label for="email" class="form-label fs-5"
      >Email Address</label
    >
    <input
      type="email"
      class="form-control mb-3"
      id="email"
      placeholder="name@example.com"
      required
      name="email"
      #email=ngModel
      ngModel
      pattern="[a-z]+[a-z0-9._-]+@[a-z]+\.[a-z.]{2,5}$" 

    />
    <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
    <div *ngIf="email.errors?.required" style="color: red;">
       The Email Is required
    </div>
     <div *ngIf="email.errors?.pattern" style="color: red;">
       you must enter an email
    </div>
  </div>
  </div>
  <div class="col-12">
    <label for="password" class="form-label mb-3 fs-5"
      >Password</label
    >
    <input class="form-control mb-3" id="password" name="password" required
    #password=ngModel
    ngModel />

    <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
      <div *ngIf="password.errors?.required" style="color: red;">
         The Password field Is required
      </div>
     
    </div>
  </div>
  <div class="col-12">
    <button type="submit" style="width: 100%" class="btn btn-primary mb-3">
      Login
    </button>
  </div>
</form>
